#contenitore-logo {
    background-color: rgb(9, 149, 214);
    background-image: url(../img/pattern.png);
    height: 170px;
    width: 100%;
}

#logo {
    width: 20%;
    margin-top: 105px;
}

h1 {
    margin-bottom: 0px;
}

.scritto-da {
    color: grey;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: rgb(56, 192, 238);
}

.data {
    font-size: 14px;
    color: grey;
}

.info-foto {
    font-size: 12px;
}

.evidenziato {
    background-color: yellow;
}

ul {
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    color: white;
    background-color: rgb(3, 189, 189);
    text-align: left;
}

.riga-azzurra {
    background-color: lightblue;
    border-spacing: 0px;
}

.colonna1 {
    width: 20%;
}

.colonna2 {
    width: 20%;
}

.colonna3 {
    width: 60%;
}

h3 {
    color: grey;
    margin-bottom: 0%;
}

.interessi{
    width: 200px;
    height: 170px;
    background-size: cover;
    background-position: center;
}

#imginteresse1{
    background-image: url(../img/monitor.jpg);
    
}

#imginteresse2 {
    background-image: url(../img/graph.jpg);
}

h4 {
    font-size: 18px;
    color: white;
}

