#contenitore-logo {
    background-color: rgb(9, 149, 214);
    background-image: url(../img/pattern.png);
    height: 170px;
}

#logo {
    width: 20%;
}

h1 {
    margin-bottom: 0px;
}

.scritto-da {
    color: grey;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: rgb(56, 192, 238);
}

.data {
    font-size: 14px;
    color: grey;
}

.info-foto {
    font-size: 12px;
}

.evidenziato {
    background-color: yellow;
}

ul {
    padding: 10px;
}

table {
    border-collapse: collapse;
}

th {
    color: white;
    background-color: rgb(3, 189, 189);
    text-align: left;
}

.riga-azzurra {
    background-color: lightblue;
    border-spacing: 0px;
}

.colonna1 {
    width: 20%;
}

.colonna2 {
    width: 20%;
}

.colonna3 {
    width: 60%;
}